

body.carts #flash {
  margin-bottom: 20px;
}

#current-total div.total {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
#current-total table.table td.price {
  text-align: right;
}
#current-total fieldset.actions {
  padding-bottom: 19px;
}

#shipping .radios {
  padding: 19px 0;
}
#shipping .radios label {
  cursor: pointer;
}
#shipping .radios label div.address {
  display: block;
  width: inherit;
  background-color: #f9f9f9;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
#shipping .radios label div.address > div[class*="span"] {
  min-height: 10px;
}
#shipping .radios label div.address > div[class*="span"] .icon-ok-sign {
  display: none;
}
#shipping .radios label div.address > div.checked {
  text-align: center;
}
#shipping .radios label input {
  position: absolute;
  top: -20px;
}
#shipping .radios label input:checked + div.address {
  background-color: #ff7979;
  color: #f7f7f7;
  border-color: #ff7979;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
#shipping .radios label input:checked + div.address .icon-ok-sign {
  display: inline-block;
}
#shipping .radios label input:checked + div.address .icon-minus {
  display: none;
}
