body.categories div.category {
  border-top: 1px solid #e4dcd8;
  border-bottom: 1px solid #e4dcd8;
  border-right: 1px solid #e4dcd8;
  border-left: 1px solid #e4dcd8;
}
body.categories div.category div.categories-caption {
  background: #fff7f2;
}
