
@import 'noty';

body {
  padding-top: 60px;
  color: #000000;
  font-family: "Lato", sans-serif;
  background-color: #fdf7f1;
}
body #flash {
  padding: 10px;
  margin-top: -20px;
  margin-bottom: 0;
}
body #flash a.close {
  right: 0;
}

hr {
  border-top-color: #F0DED7;
}

a {
  color: #FF7979;
}
a:hover {
  color: #FF6161;
  text-decoration: none;
}

ul.thumbnails li > div.thumbnail {
  background-color: white;
  border: 1px solid #F0DED7;
  padding: 0;
}
ul.thumbnails li > div.thumbnail h1, ul.thumbnails li > div.thumbnail h2, ul.thumbnails li > div.thumbnail h3 {
  margin: 0;
}
ul.thumbnails li > div.thumbnail h4, ul.thumbnails li > div.thumbnail h5, ul.thumbnails li > div.thumbnail h6 {
  margin: 0 0 10px 0;
}
ul.thumbnails li > div.thumbnail h4 {
  height: 20px;
  overflow: hidden;
}
ul.thumbnails li.span3 .cover {
  width: 218px;
  height: 145px;
  overflow: hidden;
}
ul.thumbnails li.span3 .cover a > img {
  min-width: 218px;
  min-height: 145px;
}
ul.thumbnails li.span3.category {
  padding: 0;
}
ul.thumbnails li.span3.category div.caption {
  padding: 4px 9px;
}
ul.thumbnails li.span3.category a.thumb {
  width: 218px;
  height: 145px;
}
ul.thumbnails li.span3 div.caption h4.price {
  text-align: right;
}
ul.thumbnails li.span3 div.caption p {
  height: 80px;
}
ul.thumbnails li.span4 .cover {
  width: 298px;
  height: 198px;
  overflow: hidden;
}
ul.thumbnails li.span4 .cover a > img {
  min-width: 298px;
  min-height: 198px;
}
ul.thumbnails li.span4.category {
  padding: 0;
}
ul.thumbnails li.span4.category div.caption {
  padding: 4px 9px;
}
ul.thumbnails li.span4.category a.thumb {
  width: 298px;
  height: 198px;
}
ul.thumbnails li.span4 div.caption h4.price {
  text-align: right;
}
ul.thumbnails li.span4 div.caption p {
  height: 120px;
}

.navbar-pastel .navbar-inner, .navbar-pastel #search-bar {
  background-color: #FF7979;
  background-image: -moz-linear-gradient(top, #ff6a6a, #FF7979);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6a6a), to(#FF7979));
  background-image: -webkit-linear-gradient(top, #ff6a6a, #FF7979);
  background-image: -o-linear-gradient(top, #ff6a6a, #FF7979);
  background-image: linear-gradient(to bottom, #ff6a6a, #FF7979);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($navbar, 3%)', endColorstr='$navbar', GradientType=0);
  border-color: #ff1313;
}
.navbar-pastel .nav > .active > a,
.navbar-pastel .nav > .active > a:hover,
.navbar-pastel .nav > .active > a:focus,
.navbar-pastel .nav li.dropdown.open > .dropdown-toggle,
.navbar-pastel .nav li.dropdown.active > .dropdown-toggle,
.navbar-pastel .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
  background-color: #ff6060;
}
.navbar-pastel .nav > .active > a .caret,
.navbar-pastel .nav > .active > a:hover .caret,
.navbar-pastel .nav > .active > a:focus .caret,
.navbar-pastel .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-pastel .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-pastel .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-pastel .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-pastel .nav > li > a:focus, .navbar-pastel .nav > li > a:hover {
  color: white;
  background-color: #ff6060;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
.navbar-pastel .brand, .navbar-pastel .nav > li > a {
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.nav-tabs.nav-stacked > li > a {
  background-color: white;
}
.nav-tabs.nav-stacked > li.active > a,
.nav-tabs.nav-stacked > li.active > a:hover {
  background-color: #FF6161;
  border-color: #FF6161;
  color: white;
}

#search-bar {
  min-height: 30px;
  padding: 8px;
}

ul.dropdown-menu li > a:hover {
  color: white;
  background: #FF6161;
}
ul.dropdown-menu li.active > a {
  color: white;
  background: #FF6161;
}
ul.dropdown-menu li.active > a:hover {
  color: white;
  background: #FF6161;
}

.no-bottom, .control-group.no-bottom {
  margin: 0;
}
.no-bottom input, .no-bottom textarea, .no-bottom td, .control-group.no-bottom input, .control-group.no-bottom textarea, .control-group.no-bottom td {
  margin: 0;
}

ul.main-list {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 6px 0;
}
ul.main-list > li {
  background-color: white;
  margin: 6px 0;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
ul.main-list > li.success {
  background-color: #DFF0D8;
}
ul.cream-list > li {
  padding: 0;
}
ul.cream-list > li > h5 {
  background-color: #FFF5DE;
  margin: 0;
  padding: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #F0DED7;
}
ul.cream-list > li > .content {
  padding: 12px;
}
ul.cream-list > li > .content dl.dl-horizontal {
  margin: 0;
}

.well.main-list {
  padding: 2px 6px;
}
.well.well-elderflower {
  padding: 0;
  background-color: white;
  border-color: #F0DED7;
}
.well.well-elderflower legend {
  border-bottom-color: #DDD1C8;
  margin-bottom: 0;
  padding-top: 19px;
}
.well.well-elderflower fieldset {
  padding: 0 19px;
}
.well.well-elderflower .form-actions {
  background-color: #F9F4F0;
  border-top-color: #DDD1C8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 199px;
}
.well.well-nav-list {
  padding: 8px 0;
  max-width: 220px;
}
.well.well-nav-list .nav-list > .active > a,
.well.well-nav-list .nav-list > .active > a:hover {
  background-color: #FF6161;
}
.well.sign-in > fieldset .form-inline.form-field > .btn.btn-success {
  width: 84px;
}
.well.sign-in > fieldset .form-inline.form-helper {
  padding: 6px 0 0;
}
.well.no-actions > fieldset {
  padding: 19px;
}

div[class*="span6"] .form-horizontal .control-group > .control-label {
  width: 120px;
}
div[class*="span6"] .form-horizontal .control-group > .controls {
  margin-left: 140px;
}
div[class*="span6"] .form-horizontal .form-actions {
  padding-left: 159px;
}

form {
  margin-bottom: 0px;
}
form .help-inline > small {
  color: #999;
}

@-moz-document url-prefix() {
  input[type="file"] {
    height: 25px;
  }
}
.btn-primary {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff6060;
  background-image: -moz-linear-gradient(top, #FF7979, #E84A5F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF7979), to(#E84A5F));
  background-image: -webkit-linear-gradient(top, #FF7979, #E84A5F);
  background-image: -o-linear-gradient(top, #FF7979, #E84A5F);
  background-image: linear-gradient(to bottom, #FF7979, #E84A5F);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF$btnLight', endColorstr='#FF$btnTo', GradientType=0);
  border-color: #E84A5F #E84A5F #CC2A41;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #E84A5F;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:active, .btn-primary.active {
  background-color: #CC2A41 \9;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: white;
  background-color: #E84A5F;
  *background-color: #FF7979;
}

footer {
  margin-top: 40px;
}
footer div.copy-right p {
  padding: 10px 20px 0 20px;
  font-weight: bold;
}

div.modal .form-horizontal .control-group > .control-label {
  width: 140px;
}
div.modal .form-horizontal .control-group > .controls {
  margin-left: 160px;
}
div.modal .form-horizontal .form-actions {
  padding-left: 179px;
}
div.modal.cart {
  width: 700px;
  margin: -250px 0 0 -350px;
}
div.modal.cart.fade.in {
  top: 50%;
}
div.modal.cart .modal-body {
  padding: 15px 0px;
}
div.modal.cart .modal-body table.table {
  margin-bottom: 0;
}
div.modal.cart .modal-body.empty {
  padding: 20px 15px;
}
div.modal.cart .modal-body.empty .alert {
  padding-top: 16px;
  padding-bottom: 16px;
}
div.modal.order {
  width: 700px;
  margin: -250px 0 0 -350px;
}
div.modal.order.fade.in {
  top: 30%;
}
div.modal.order .modal-body {
  padding: 15px 0;
}
div.modal.order .modal-body > fieldset {
  margin-bottom: 10px;
}
div.modal.order .modal-body > fieldset dl.dl-horizontal {
  margin-top: 0;
}
div.modal.order .modal-body table.table:not(.total) tr:last-child > td {
  border-bottom: 1px solid #ddd;
}
div.modal.order .modal-body table.table.total > tfoot th {
  text-align: right;
}
div.modal.order .modal-body table.table.total > tfoot th, div.modal.order .modal-body table.table.total > tfoot td {
  padding: 4px 8px;
  border-top: none;
}
div.modal.address > form > .modal-body {
  max-height: 430px;
}
div.modal.address.fade.in {
  top: 40%;
}
div.modal div.modal-footer {
  background-color: #fdf7f1;
  border-color: #F0DED7;
}

#view_cart table.table td, #modal table.table td {
  vertical-align: middle;
}
#view_cart table.table.items td > div.thumb, #modal table.table.items td > div.thumb {
  width: 40px;
  height: 27px;
  overflow: hidden;
}
#view_cart table.table.items td > div.thumb > img, #modal table.table.items td > div.thumb > img {
  min-width: 40px;
  min-height: 27px;
}
