#search-bar .sorting {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}
#search-bar .sorting select {
  font-size: 13px;
}

.price-rate > h5.header {
  background-color: #FF7979;
  color: white;
  margin-top: 0px;
  padding: 6px;
  border-radius: 4px;
}
.price-rate > .price {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}
.price-rate > .price span > input {
  margin-left: 8px;
}

.container > .product {
  padding: 19px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 6px;
}
.container > .product .product-header {
  background-color: whiteSmoke;
  border-radius: 6px;
  margin-bottom: 19px;
  padding: 9px;
  font-weight: normal;
  color: #999;
}
.container > .product .span7 > .cover {
  width: 517px;
  height: 344px;
  overflow: hidden;
}
.container > .product .span7 > .cover > img {
  min-width: 517px;
  min-height: 344px;
}
.container > .product .product-details {
  position: relative;
  height: 344px;
}
.container > .product .product-details > .title small {
  display: block;
}
.container > .product .product-details > .description {
  margin: 25px 0;
}
.container > .product .product-details > .actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container > .product .product-details > .actions > .form-inline .out-of-stock {
  padding: 6px 0;
}
